In [26]:
import pandas as pd

In [27]:
data1 = pd.read_csv("twitter_tweets1.csv")

In [28]:
data1.head(1)

,UserName,Handle,Timestamp,Text,Emojis,Comments,Likes,Retweets
0,Hosky Token ($HOSKY),@hoskytoken,2021-11-18T01:26:13.000Z,Hosky Token ($HOSKY)\n@hoskytoken\n·\n2hI pres...,NaN,30,34,212

In [29]:
data1.tail(1)

,UserName,Handle,Timestamp,Text,Emojis,Comments,Likes,Retweets
2552,AtlasStakePool,@AtlasStakePool,2021-08-25T22:46:48.000Z,AtlasStakePool\n@AtlasStakePool\n·\nAug 26Wann...,NaN,78,406,1.9K

In [30]:
data2 = pd.read_csv("twitter_tweets2.csv")

In [31]:
data2.head(1)

,UserName,Handle,Timestamp,Text,Emojis,Comments,Likes,Retweets
0,3,@thr33strikes,2021-10-25T23:43:14.000Z,3\n@thr33strikes\n·\nOct 26To the people worki...,NaN,44,56,620

In [32]:
data2.tail(1)

,UserName,Handle,Timestamp,Text,Emojis,Comments,Likes,Retweets
2599,Darren N,@CryptoIRELAND1,2021-07-07T06:00:08.000Z,Darren N\n@CryptoIRELAND1\n·\nJul 7#Cardano 5-...,NaN,10,99,546

In [33]:
data3 = pd.read_csv("twitter_tweets3.csv")

In [34]:
data3.head(1)

,UserName,Handle,Timestamp,Text,Emojis,Comments,Likes,Retweets
0,Darren N,@CryptoIRELAND1,2021-07-07T23:22:03.000Z,Darren N\n@CryptoIRELAND1\n·\nJul 8#Cardano to...,NaN,4,45,405

In [35]:
data3.tail(1)

,UserName,Handle,Timestamp,Text,Emojis,Comments,Likes,Retweets
2636,big pey,@bigpeyYT,2021-02-12T20:33:11.000Z,big pey\n@bigpeyYT\n·\nFeb 13What's better tha...,NaN,21,31,228

In [36]:
data4 = pd.read_csv("twitter_tweets4.csv")

In [37]:
data4.head(1)

,UserName,Handle,Timestamp,Text,Emojis,Comments,Likes,Retweets
0,David Pangle,@david_pangle,2021-02-12T23:45:13.000Z,David Pangle\n@david_pangle\n·\nFeb 13Big liqu...,NaN,19.0,36,366

In [38]:
data4.tail(1)

,UserName,Handle,Timestamp,Text,Emojis,Comments,Likes,Retweets
1190,Input Output,@InputOutputHK,2017-12-13T10:43:13.000Z,"Input Output\n@InputOutputHK\n·\nDec 13, 2017“...",NaN,14.0,242,395

In [39]:
print(len(data1) + len(data2) + len(data3) + len(data4))

8981

In [40]:
new_data = pd.concat([data1,data2,data3,data4])
new_data = new_data.drop_duplicates(keep='last')
print(len(new_data))

7730

In [42]:
new_data.to_csv(f"./twitter_tweets_final.csv", index = None, header=True)